# .gitignore at the root level
node_modules/
*/node_modules/

logs
*.log
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.test

coverage/
.nyc_output/

build/
dist/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
*.swp

*.bak
*.tmp
